
<article class="container-fluid category">
  <div class="new-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>New Bikes</h4>
    <a href=""><%= image_tag("bicycle-01.jpg", class: "img-responsive") %></a>
  </div>
  <div class="used-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>Used Bikes</h4>
    <a href=""><%= image_tag("bicycle-02.jpg", class: "img-responsive") %></a>
  </div>
  <div class="used-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>Modified Bikes</h4>
    <a href=""><%= image_tag("zps.jpg", class: "img-responsive") %></a>
  </div>
</article>
<div class="banner container-fluid">
  <h2>Latest Products</h2>
</div>
<article class="container product">
  <!--<div class="row">
    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag("C16.jpg", class: "   img-responsive") %>
      <p>C16</p>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag("C16_C1.jpg", class: "   img-responsive") %>
      <p>C16-C1</p>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag("enduroprocarbon.jpg", class: "   img-responsive") %>
      <p>C16</p>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag("GLDORG.jpg", class: "   img-responsive") %>
      <p>C16</p>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag("Reign.jpg", class: "   img-responsive") %>
      <p>C16</p>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag("S-Works.jpg", class: "   img-responsive") %>
      <p>C16</p>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag("SPECIALISSIMA.jpg", class: "   img-responsive") %>
      <p>C16</p>
    </div>
  </div>-->
</article>
