<article class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User Id:</strong>
  <%= @user.id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) , class: "btn btn-default"%> 
<%= link_to 'Back', users_path , class: "btn btn-default"%>
</article>