<!DOCTYPE html>
<html>
  <head>
    <title>BikeShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top"><!--  Nav  -->
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="coldata-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="#index" class="navbar-brand">Bike Shop</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><%= link_to 'Home', static_pages_index_path %></li>
                <li><%= link_to 'About', static_pages_about_path %></li>
                <li><%= link_to 'Products', products_path %></li>
                <li><%= link_to 'Contact', static_pages_contact_path %></li>
              </ul>
              
            </div>
          </div>
        </nav>
        <div class="cover">
              <div class="cover-text">
                <h2>Welcome to Bike Shop </h2>
                <p>The best services in town. </p>
              </div>
        </div>
        <article>
          <%= yield %>
        </article>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-sm-8 col-xs-5">
                <p>&copy; Bike Shop 2017 </p>
              </div>
            </div> 
          </div>
        </footer> 
  </body>
</html>
